/* line 1, ../../_sass/csssecrets.scss */
.blueprint,
.polkadot1,
.polkadot2,
.polkamixin {
  height: 300px;
}

/* line 7, ../../_sass/csssecrets.scss */
.blueprint {
  background: #58a;
  background-image: linear-gradient(white 2px, transparent 0), linear-gradient(90deg, white 2px, transparent 0), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 0);
  background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}

/* line 16, ../../_sass/csssecrets.scss */
.polkadot1 {
  background: #655;
  background-image: radial-gradient(#d2b48c 30%, rgba(0, 0, 0, 0) 0%);
  background-size: 30px 30px;
}

/* line 21, ../../_sass/csssecrets.scss */
.polkadot2 {
  background: #655;
  background-image: radial-gradient(#d2b48c 30%, rgba(0, 0, 0, 0) 0%), radial-gradient(#d2b48c 30%, rgba(0, 0, 0, 0) 0%);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

/* line 37, ../../_sass/csssecrets.scss */
.polkamixin {
  background: #655;
  background-image: radial-gradient(#d2b48c 10%, rgba(0, 0, 0, 0) 0%), radial-gradient(#d2b48c 10%, rgba(0, 0, 0, 0) 0%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
